[submodule "liquidprompt"]
	path = liquidprompt
	url = git@github.com:nojhan/liquidprompt.git
[submodule "z"]
	path = z
	url = git@github.com:rupa/z.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:gpakosz/.tmux.git
