[submodule "liquidprompt"]
	path = liquidprompt
	url = git@github.com:nojhan/liquidprompt.git
[submodule "z"]
	path = z
	url = git@github.com:rupa/z.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
